name: Publish Skeletor version

on:
  release:
    types: [released]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    environment: NPM
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Enable Corepack
        run: corepack enable

      - uses: actions/setup-node@v4
        with:
          node-version: 23.4.0
          cache: "yarn"

      - run: yarn

      - run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_AUTOMATION_TOKEN }}

      # Standard release (no beta or rc)
      - name: Publish standard release
        if: "!(contains(github.event.release.tag_name, 'beta') || contains(github.event.release.tag_name, 'rc'))"
        run: yarn publish

      # Pre-release (betaX or rcX)
      - name: Publish pre-release (beta/rc)
        if: "contains(github.event.release.tag_name, 'beta') || contains(github.event.release.tag_name, 'rc')"
        run: yarn publish --tag next
